body {
    font-family: 'Public Pixel', sans-serif;

    .screens-holder {
        width: 100vw;
        height: 100vh;

        .start-screen {
            height: 100vh;
            width: 70vw;
            background-image: url("../img/starterSelectionBg.jpg");
            background-size: cover;

            .placing {
                position: relative;
                top: -30%;
            }

            .start-pokemons {
                img {
                    height: 300px;
                    width: 300px;
                }
            }

            .beginGame {
                box-shadow:inset 0px 0px 0px 5px #000;
                border: 3px black dashed;
                border-radius: 15px;
                padding-inline: 25px;
                padding: 10px;
            }
            .beginGame:hover{
                animation: borderThingy 0.5s infinite;
            }
        }

        .battle {
            width: 100vw;
            .battle-screen {
                background-image: url("../img/battle-screen.png");
                background-size: cover;
                background-position: center bottom;
                height: 80vh;
                background-repeat: no-repeat;
                position: relative;

                .atkOp{
                    width: 100%;
                    height: 80vh;
                }

                .enemy-stats {
                    border: 2px solid black;
                    min-width: 25vw;
                    position: absolute;
                    top: 5%;
                    left: 5%;
                }

                .hero-stats {
                    border: 2px solid black;
                    min-width: 25vw;
                    position: absolute;
                    animation: upDownStats 0.6s infinite alternate;
                }
            }

            .choices-screen {
                height: 20vh;
                background-color: greenyellow;
                button{
                    width: 50%;
                    outline: none;
                    border: none;
                    letter-spacing: 5px;
                    color: white;
                
                }
            }
        }
    }
}

@keyframes borderThingy {
    0%{
        border: 3px black dashed;
    }
    50%{
        border: 3px black dotted;
    }
    100%{
        border: 3px black dashed;
    }
}


.ballMotion {
    animation: ballMotion 1s ease-in-out;
}

@keyframes ballMotion {
    0% {
        transform: translateY(0) scale(1)
    }

    25% {
        transform: translateY(20px) scale(1.15)
    }

    50% {
        transform: translateY(-20px) scale(1.3)
    }

    75% {
        transform: translateY(20px) scale(1.15)
    }

    100% {
        transform: translateY(0) scale(1)
    }
}

.enemy-slide {
    animation: slideRight 2s forwards;
}

.hero-slide {
    animation: slideLeft 2s forwards;
}


.atkAni {
    animation: atk 1s;
}

@keyframes slideRight {
    0% {
        top: 5%;
        right: -10%;
    }

    100% {
        top: 5%;
        right: 23%;
    }
}

@keyframes slideLeft {
    0% {
        bottom: 0%;
        left: -10%;
    }

    100% {
        bottom: 0%;
        left: 25%;
    }
}

@keyframes upDownStats {
    0% {
        bottom: 3%;
        right: 5%;
    }

    100% {
        bottom: 0%;
        right: 5%;
    }
}

@keyframes atk {
    0% {
        left: 15%;
    }

    25% {
        left: 10%;
    }

    75% {
        left: 20%;
    }

    100% {
        left: 15%;
    }
}

.enemyGotHit {
    animation: enemyGotHit 1s forwards;
}

@keyframes enemyGotHit {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.atkAniBg{
    animation : atkAniBg 0.5s 2 alternate;
}

@keyframes atkAniBg {
    0%{
        opacity: 0;
    }

    50%{
        opacity: 0.25;
    }

    100%{
        opacity: 0.5;
    }
}



.slam{
    background-color: #ffc107;
}

.tackle{
    background-color: #6c757d;
}

.flail{
    background-color: #dc3545;
}

.bite{
    background-color:  #198754;
}